.chart-container {
    position: relative;
    text-align: center;
  }
  
  .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; /* Adjust the font size as needed */
  }
  